!!! Strict
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=IE7"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title MapMyLeads
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyBHFiCvFYWZTGeQvHCti2-by8RwFTKnYkM&sensor=false'
    = csrf_meta_tags
    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    = stylesheet_link_tag "application", :media => "all"

  %body
    = render 'navbar'

    .containers
      = render 'messages'
      = yield

    = javascript_include_tag 'application'
